<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>

<body>

<header id="header"></header>

<main>
    <header>
        <h1></h1>
    </header>
</main>

<aside>
    <p><span class="nick-name">Uno</span></p>
    <p><a class="u-url" rel="me" href=""></a></p>
    <p><time datetime=""></time></p>
    <p>#java</p>
</aside>

<section>
    <p>本文<br><br></p>

    <div>
        <form>
            <label for="articleComment" hidden>コメント</label>
            <textarea id="articleComment" placeholder="コメント作成" rows="3"></textarea>
            <button type="submit">コメント</button>
        </form>
        <ul>
            <li>
                <div>
                    <time><small>2022-01-01</small></time>
                    <strong>Uno</strong>
                    <p>
                        test
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <time><small>2022-01-01</small></time>
                    <strong>Uno</strong>
                    <p>
                        test
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <nav>
        <a href="#">prev</a>
        <a href="#">next</a>
    </nav>
</section>

<footer id="footer"></footer>

</body>
</html>